/* Whole page */

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    max-width: 90%;
}

/* Navbar */

header {
    color: white;
    background-color: #383737;
    position: fixed;
    width: 90%;
    height: 40px;
    top: 10px;
}

header h1 {
    margin-left: 10vh;
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
    color: white;
}

header a {
    margin-left: 20px;
    color: white;
    font-size: 20px;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #383737;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Various tags */

a {
    text-decoration: none;
}

a:visited {
    color: mediumpurple;
}

a:hover {
    color: darkgray;
}

a:active {
    color: dimgray;
    ;
}

/* Classes */

.workHead {
    border-bottom: 2px solid;
    background-color: whitesmoke;
}

.box-model-1 {
    border: 2px solid green;
    padding: 10px;
    list-style-type: none;
}

.box-model-2 {
    border: 3px dashed blue;
    padding: 20px;
    margin: 20px;
    color: blue;
}

.box-model-class {
    border: 4px solid red;
    padding: 20px;
    margin: 40px 20px;
    color: black;
}

.box-model-class .box-model-1 {
    margin: 40px 20px;
}

.box-float {
    margin-top: -16px;
    display: table;
    table-layout: fixed;
    width: 90%;
}

.box-float li {
    padding: 10px;
    border: 1.1px solid black;
    display: table-cell;
}


.list-model-1 li {
    display: block;
    padding: 1em;
    margin: 1em;
    border: 3px dashed green;

}

.list-model-2 li {
    display: inline;
    padding: 1em;
    margin: 1em;
    border: 3px dashed blue;
}

.list-model-3 li {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 3px dashed red;
}
